# SPDX-License-Identifier: AGPL-3.0-only
# Synthetic calibration example, NOT measured microphone/headphone values.
algos = [transducers:calibrated]
calibrated.calib_in.peaklevel = [100 110]
calibrated.calib_out.peaklevel = [100 105]
calibrated.calib_out.do_clipping = no
calibrated.plugin_name = dc_simple
calibrated.dc_simple.g50 = [0]
calibrated.dc_simple.g80 = [-15]
calibrated.dc_simple.maxgain = [10]
calibrated.dc_simple.expansion_threshold = [30]
calibrated.dc_simple.expansion_slope = [2]
calibrated.dc_simple.limiter_threshold = [90]
calibrated.dc_simple.tau_attack = [0.005]
calibrated.dc_simple.tau_decay = [0.05]
