# SPDX-License-Identifier: AGPL-3.0-only
# Two-tap averaging filter: y[n] = 0.5*x[n] + 0.5*x[n-1].
# Attenuates high frequencies; coefficients are sample-rate dependent.
algos = [gain iirfilter]
gain.gains = [-6]
iirfilter.B = [0.5 0.5]
iirfilter.A = [1]
